<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Document</title>
</head>
<body>
   
   <form method="post" action="/new">
      <input type="text" name="firstname" placeholder="Name">
      <input type="text" name="lastname" placeholder="Lastname">
      <input type="text" name="username" placeholder="Username">
      <input type="text" name="age" placeholder="Age">
      <button type="submit">Submit User</button>
   </form>




</body>
</html>


   